.also {
  display: block;
  font-size: 1em;
  line-height: 1.2;
  margin-bottom: 0;
  margin-left: 0;
  margin-right: 0;
  margin-top: 5em;
  text-align: center
}

.also1 {
  display: block;
  font-size: 0.88889em;
  margin-bottom: 1em;
  margin-left: 0;
  margin-right: 0;
  margin-top: 1.3em;
  text-align: center
}

.also2 {
  display: block;
  font-size: 0.66667em;
  margin-bottom: 0;
  margin-left: 0;
  margin-right: 0;
  margin-top: 8em;
  text-align: center
}

.bib {
  display: block;
  font-size: 0.88889em;
  margin-bottom: 0;
  margin-left: 1.2em;
  margin-right: 0;
  margin-top: 0;
  text-indent: -1.2em
}

.calibre {
  display: block;
  font-size: 1.125em;
  line-height: 1.2;
  margin-bottom: 0;
  margin-left: 5pt;
  margin-right: 5pt;
  margin-top: 0;
  padding-left: 0;
  padding-right: 0
}

.calibre1 {
  text-decoration: none
}

.calibre2 {
  font-style: italic
}

.calibre3 {
  display: block
}

.calibre4 {
  height: 459px;
  width: 250px
}

.calibre5 {
  line-height: 1.2;
  text-decoration: none
}

.calibre6 {
  font-weight: bold
}

.calibre7 {
  height: 145px;
  width: 266px
}

.calibre8 {
  height: 18px;
  width: 361px
}

.calibre9 {
  height: 1px;
  width: 118px
}

.calibre10 {
  height: 137px;
  width: 227px
}

.calibre11 {
  height: 152px;
  width: 123px
}

.calibre12 {
  height: 139px;
  width: 175px
}

.calibre13 {
  font-weight: bold;
  line-height: 1.2
}

.calibre14 {
  height: 104px;
  width: 216px
}

.calibre15 {
  height: 164px;
  width: 233px
}

.calibre16 {
  height: 255px;
  width: 94px
}

.calibre17 {
  height: 178px;
  width: 157px
}

.calibre18 {
  height: 255px;
  width: 127px
}

.calibre19 {
  height: 255px;
  width: 112px
}

.calibre20 {
  height: 202px;
  width: 311px
}

.calibre21 {
  height: 222px;
  width: 124px
}

.calibre22 {
  height: 233px;
  width: 224px
}

.calibre23 {
  height: 177px;
  width: 239px
}

.calibre24 {
  height: 205px;
  width: 179px
}

.calibre25 {
  height: 147px;
  width: 373px
}

.calibre26 {
  font-size: 1em
}

.calibre27 {
  height: 306px;
  width: 113px
}

.calibre28 {
  height: 178px;
  width: 280px
}

.calibre29 {
  height: 260px;
  width: 156px
}

.calibre30 {
  height: 212px;
  width: 160px
}

.calibre31 {
  height: 207px;
  width: 155px
}

.calibre32 {
  height: 254px;
  width: 217px
}

.calibre33 {
  height: 209px;
  width: 281px
}

.calibre34 {
  height: 318px;
  width: 202px
}

.calibre35 {
  height: 267px;
  width: 284px
}

.calibre36 {
  height: 283px;
  width: 377px
}

.calibre37 {
  height: 212px;
  width: 178px
}

.calibre38 {
  height: 240px;
  width: 318px
}

.calibre39 {
  height: 295px;
  width: 187px
}

.calibre40 {
  height: 180px;
  width: 377px
}

.calibre41 {
  height: 174px;
  width: 328px
}

.calibre42 {
  height: 140px;
  width: 202px
}

.calibre43 {
  height: 12px;
  width: 101px
}

.calibre44 {
  height: 444px;
  width: 186px
}

.calibre45 {
  height: 275px;
  width: 277px
}

.calibre46 {
  height: 125px;
  width: 232px
}

.calibre47 {
  height: 127px;
  width: 122px
}

.calibre48 {
  height: 141px;
  width: 135px
}

.calibre49 {
  height: 190px;
  width: 144px
}

.calibre50 {
  height: 249px;
  width: 138px
}

.calibre51 {
  height: 214px;
  width: 171px
}

.calibre52 {
  height: 189px;
  width: 109px
}

.calibre53 {
  height: 136px;
  width: 180px
}

.calibre54 {
  height: 229px;
  width: 186px
}

.calibre55 {
  height: 280px;
  width: 207px
}

.calibre56 {
  height: 90px;
  width: 149px
}

.calibre57 {
  height: 495px;
  width: 170px
}

.calibre58 {
  height: 356px;
  width: 401px
}

.calibre59 {
  height: 185px;
  width: 151px
}

.calibre60 {
  height: 176px;
  width: 143px
}

.calibre61 {
  height: 168px;
  width: 255px
}

.calibre62 {
  height: 241px;
  width: 147px
}

.calibre63 {
  height: 155px;
  width: 149px
}

.calibre64 {
  height: 189px;
  width: 264px
}

.calibre65 {
  height: 269px;
  width: 156px
}

.calibre66 {
  height: 342px;
  width: 472px
}

.calibre67 {
  height: 156px;
  width: 162px
}

.calibre68 {
  height: 186px;
  width: 211px
}

.calibre69 {
  height: 286px;
  width: 237px
}

.calibre70 {
  height: 204px;
  width: 297px
}

.calibre71 {
  height: 191px;
  width: 201px
}

.calibre72 {
  height: 218px;
  width: 200px
}

.calibre73 {
  height: 199px;
  width: 169px
}

.calibre74 {
  height: 223px;
  width: 178px
}

.calibre75 {
  height: 156px;
  width: 155px
}

.calibre76 {
  height: 176px;
  width: 273px
}

.calibre77 {
  height: 129px;
  width: 164px
}

.calibre78 {
  height: 105px;
  width: 331px
}

.calibre79 {
  height: 133px;
  width: 178px
}

.calibre80 {
  height: 180px;
  width: 217px
}

.calibre81 {
  height: 213px;
  width: 219px
}

.calibre82 {
  height: 281px;
  width: 218px
}

.calibre83 {
  height: 308px;
  width: 190px
}

.calibre84 {
  height: 107px;
  width: 183px
}

.calibre85 {
  height: 306px;
  width: 196px
}

.calibre86 {
  height: 263px;
  width: 99px
}

.calibre87 {
  height: 240px;
  width: 195px
}

.calibre88 {
  height: 424px;
  width: 417px
}

.calibre89 {
  height: 191px;
  width: 208px
}

.calibre90 {
  height: 192px;
  width: 231px
}

.calibre91 {
  height: 82px;
  width: 190px
}

.calibre92 {
  height: 99px;
  width: 125px
}

.calibre93 {
  display: block;
  vertical-align: middle
}

.calibre94 {
  display: block;
  margin-bottom: 0;
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  text-align: center
}

.calibre95 {
  height: 100%;
  width: auto
}

.center {
  display: block;
  font-size: 0.88889em;
  margin-bottom: 0;
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  text-align: center
}

.center1 {
  display: block;
  font-size: 0.88889em;
  margin-bottom: 1em;
  margin-left: 0;
  margin-right: 0;
  margin-top: 1em;
  text-align: center
}

.centerimg {
  display: block;
  margin-bottom: 0.8em;
  margin-left: 0;
  margin-right: 0;
  margin-top: 0.8em;
  text-align: center
}

.centert {
  display: block;
  font-size: 1em;
  line-height: 1.2;
  margin-bottom: 0;
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  text-align: center
}

.chaptit {
  display: block;
  font-size: 1.48148em;
  font-weight: bold;
  line-height: 1.2;
  margin-bottom: 2em;
  margin-left: 0;
  margin-right: 0;
  margin-top: 2em;
  text-align: left;
  text-indent: 0
}

.chaptita {
  display: block;
  font-size: 1em;
  font-weight: bold;
  line-height: 1.2;
  margin-bottom: 0.5em;
  margin-left: 0;
  margin-right: 0;
  margin-top: 2em;
  text-indent: 0
}

.chaptita1 {
  display: block;
  font-size: 1em;
  font-weight: bold;
  line-height: 1.2;
  margin-bottom: 0.5em;
  margin-left: 0;
  margin-right: 0;
  margin-top: 1.5em;
  text-indent: 0
}

.chaptita2 {
  display: block;
  font-size: 1.25926em;
  font-weight: bold;
  line-height: 1.2;
  margin-bottom: 0.5em;
  margin-left: 0.5em;
  margin-right: 0;
  margin-top: 0.5em;
  text-indent: 0
}

.chaptitab {
  display: block;
  font-size: 0.88889em;
  font-weight: normal;
  margin-bottom: 0.5em;
  margin-left: 0;
  margin-right: 0;
  margin-top: 1.5em;
  text-indent: 0
}

.chaptitasd {
  display: block;
  font-size: 1.48148em;
  font-weight: bold;
  line-height: 1.2;
  margin-bottom: 2em;
  margin-left: 1.4em;
  margin-right: 0;
  margin-top: 5em;
  text-align: center
}

.chaptitrr {
  display: block;
  font-size: 1.25926em;
  font-weight: bold;
  line-height: 1.2;
  margin-bottom: 2em;
  margin-left: 0;
  margin-right: 0;
  margin-top: 5em
}

.chaptits {
  display: block;
  font-size: 1.48148em;
  line-height: 1.2;
  margin-bottom: 2em;
  margin-left: 1.4em;
  margin-right: 0;
  margin-top: 5em;
  text-indent: -1.5em
}

.cpy {
  display: block;
  font-size: 0.66667em;
  margin-bottom: 0;
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  text-align: left;
  text-indent: 0
}

.cpy1 {
  display: block;
  font-size: 0.66667em;
  margin-bottom: 1.5em;
  margin-left: 0;
  margin-right: 0;
  margin-top: 0.8em;
  text-align: left;
  text-indent: 0
}

.cpy2 {
  display: block;
  font-size: 0.66667em;
  margin-bottom: 1em;
  margin-left: 0;
  margin-right: 0;
  margin-top: 2em;
  text-align: left;
  text-indent: 0
}

.cpy3 {
  display: block;
  font-size: 0.66667em;
  margin-bottom: 0;
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  text-align: left;
  text-indent: 1em
}

.cpy4 {
  display: block;
  font-size: 0.66667em;
  margin-bottom: 0;
  margin-left: 1.5em;
  margin-right: 0;
  margin-top: 0;
  text-align: left;
  text-indent: 1em
}

.cpy5 {
  display: block;
  font-size: 0.66667em;
  margin-bottom: 0;
  margin-left: 0.5em;
  margin-right: 0;
  margin-top: 0;
  text-align: left;
  text-indent: 1em
}

.cpy6 {
  display: block;
  font-size: 0.66667em;
  margin-bottom: 3em;
  margin-left: 1.5em;
  margin-right: 20em;
  margin-top: 0;
  text-align: right;
  text-indent: 0
}

.cpy7 {
  display: block;
  font-size: 0.66667em;
  margin-bottom: 0;
  margin-left: 1em;
  margin-right: 0;
  margin-top: 0;
  text-align: left;
  text-indent: 1em
}

.cpya {
  display: block;
  font-size: 0.66667em;
  margin-bottom: 1.5em;
  margin-left: 0;
  margin-right: 0;
  margin-top: 8em;
  text-align: left;
  text-indent: 0
}

.cpytop {
  display: block;
  font-size: 0.88889em;
  margin-bottom: 0;
  margin-left: 0;
  margin-right: 0;
  margin-top: 3em;
  text-align: center
}

.extr {
  display: block;
  margin-bottom: 1em;
  margin-top: 1em
}

.extract {
  display: block;
  font-size: 0.88889em;
  margin-bottom: 0;
  margin-left: 1em;
  margin-right: 1em;
  margin-top: 0;
  text-indent: 1em
}

.extract1 {
  display: block;
  font-size: 0.88889em;
  margin-bottom: 0;
  margin-left: 2em;
  margin-right: 1em;
  margin-top: 1em;
  text-indent: 0
}

.h {
  display: block;
  font-size: 1.48148em;
  font-weight: bold;
  line-height: 1.2;
  margin-bottom: 2em;
  margin-left: 0;
  margin-right: 0;
  margin-top: 3em;
  text-align: center;
  text-indent: 0
}

.h1 {
  display: block;
  font-size: 1.48148em;
  line-height: 1.2;
  margin-bottom: 2em;
  margin-left: 1em;
  margin-right: 0;
  margin-top: 5em;
  text-indent: -1em
}

.hang {
  display: block;
  font-size: 0.88889em;
  margin-bottom: 1em;
  margin-left: 2.3em;
  margin-right: 0;
  margin-top: 1em;
  text-indent: -1.2em
}

.hang1 {
  display: block;
  font-size: 1em;
  margin-bottom: 0;
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  text-indent: -1.2em
}

.hang2 {
  display: block;
  font-size: 0.88889em;
  margin-bottom: 0;
  margin-left: 3.5em;
  margin-right: 0;
  margin-top: 0;
  text-indent: -1.2em
}

.hanging {
  display: block;
  font-size: 1em;
  margin-bottom: 0;
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  text-indent: -0.6em
}

.hanging1 {
  display: block;
  font-size: 0.88889em;
  margin-bottom: 0;
  margin-left: 1.7em;
  margin-right: 0;
  margin-top: 0;
  text-indent: -0.7em
}

.hanging2 {
  display: block;
  font-size: 0.88889em;
  margin-bottom: 1em;
  margin-left: 1.7em;
  margin-right: 0;
  margin-top: 0;
  text-indent: -0.7em
}

.hanging3 {
  display: block;
  font-size: 0.88889em;
  margin-bottom: 0;
  margin-left: 2.4em;
  margin-right: 0;
  margin-top: 0;
  text-indent: -1.5em
}

.heading {
  display: block;
  font-size: 1.25926em;
  font-weight: bold;
  line-height: 1.2;
  margin-bottom: 1.5em;
  margin-left: 0;
  margin-right: 0;
  margin-top: 3em;
  text-align: center;
  text-indent: 0
}

.image {
  display: block;
  font-size: 0.88889em;
  margin-bottom: 1em;
  margin-left: 0;
  margin-right: 0;
  margin-top: 2em;
  text-align: center
}

.indent {
  display: block;
  font-size: 0.88889em;
  margin-bottom: 0;
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  text-indent: 1em
}

.indent1 {
  display: block;
  font-size: 0.88889em;
  margin-bottom: 1em;
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  text-indent: 1em
}

.indent2 {
  display: block;
  font-size: 0.88889em;
  margin-bottom: 0;
  margin-left: 3.5em;
  margin-right: 0;
  margin-top: 0;
  text-indent: -1.5em
}

.indent3 {
  display: block;
  font-size: 0.88889em;
  margin-bottom: 1em;
  margin-left: 3.5em;
  margin-right: 0;
  margin-top: 0;
  text-indent: -1.5em
}

.indenta {
  display: block;
  font-size: 0.88889em;
  margin-bottom: 0.8em;
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  text-indent: 1em
}

.indentt {
  display: block;
  font-size: 0.88889em;
  margin-bottom: 0;
  margin-left: 0;
  margin-right: 0;
  margin-top: 0.5em;
  text-indent: 1em
}

.indentte {
  display: block;
  font-size: 0.88889em;
  margin-bottom: 0.5em;
  margin-left: 0;
  margin-right: 0;
  margin-top: 1em;
  text-indent: 1em
}

.noindent {
  display: block;
  font-size: 0.88889em;
  margin-bottom: 0;
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  text-align: left;
  text-indent: 0
}

.noindent1 {
  display: block;
  font-size: 0.88889em;
  margin-bottom: 0;
  margin-left: 0;
  margin-right: 0;
  margin-top: 1em;
  text-align: left;
  text-indent: 0
}

.noindent2 {
  display: block;
  font-size: 0.88889em;
  margin-bottom: 1em;
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  text-align: left;
  text-indent: 0
}

.noindentnl {
  display: block;
  font-size: 0.88889em;
  margin-bottom: 0.5em;
  margin-left: 0;
  margin-right: 0;
  margin-top: 2em
}

.pagebreak {
  display: block;
  page-break-after: always
}

.right {
  display: block;
  font-size: 0.88889em;
  margin-bottom: 0;
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  text-align: right
}

.right1 {
  display: block;
  font-size: 0.88889em;
  margin-bottom: 0;
  margin-left: 0;
  margin-right: 0;
  margin-top: 1em;
  text-align: right
}

.toc {
  display: block;
  font-size: 0.88889em;
  margin-bottom: 0;
  margin-left: 1.4em;
  margin-right: 0;
  margin-top: 0
}

.toc1 {
  display: block;
  font-size: 0.88889em;
  margin-bottom: 0.5em;
  margin-left: 1.3em;
  margin-right: 0;
  margin-top: 1em
}

.toc2 {
  display: block;
  font-size: 0.88889em;
  margin-bottom: 0;
  margin-left: 3.1em;
  margin-right: 0;
  margin-top: 0.5em;
  text-indent: -1.5em
}

.toc2a {
  display: block;
  font-size: 0.88889em;
  margin-bottom: 0;
  margin-left: 2.4em;
  margin-right: 0;
  margin-top: 0.5em;
  text-indent: -1.2em
}

.toc3 {
  display: block;
  font-size: 0.88889em;
  margin-bottom: 0;
  margin-left: 5.5em;
  margin-right: 0;
  margin-top: 0;
  text-indent: -2.3em
}

.toc4 {
  display: block;
  font-size: 0.88889em;
  margin-bottom: 0.8em;
  margin-left: 3.6em;
  margin-right: 0;
  margin-top: 0.8em
}

.toctit {
  display: block;
  font-size: 1.48148em;
  font-weight: bold;
  line-height: 1.2;
  margin-bottom: 2em;
  margin-left: 0;
  margin-right: 0;
  margin-top: 3em;
  text-align: center
}

@page {
  margin-bottom: 5pt;
  margin-top: 5pt
}

.indice-btn {
  background-color: rgba(168, 223, 255, 0.452);
  color: rgb(105, 105, 105);
  border: 0;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1;
  min-width: 44px;
  min-height: 44px;
  cursor: pointer;
}

aside {
  left: -225px;
}

aside.active {
  background: rgb(168, 223, 255);
  position: fixed;
  top: 0;
  left: 0;
  width: 60%;
  height: 100vh;
  padding: 10px 0 0 0;
  overflow-y: scroll;
  transition: all 0.5s ease;
}

.aside-index {
  margin-top: 30px;
  height: 100%;
}


body {
  margin: 16px;
}

@media screen and (min-width: 600px) {
  body {
    margin: 40px;
  }

  aside.active {
    width: 280px;
  }

  .indice-btn {
    top: 15px;
    left: 15px;
  }

  .aside-index {
    margin-top: 50px;
  }
}

@media screen and (min-width: 720px) {
  body {
    margin: 80px;
  }
}

@media screen and (min-width: 920px) {
  body {
    margin: 200px;
  }
}

@media screen and (min-width: 1200px) {
  body {
    margin: 300px;
  }
}